/* Variables */
:root {
	--white: #ffffff;
	--primary: #44475a;
  --accent: #fcb76d;
  --transparent-bg: rgba(38, 50, 56, 0.3);
}

/* General */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
