/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

/* variables */
:root {
	--white: #ffffff;
	--primary: #44475a;
	--accent: #fcb76d;
}

/* general */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Rubik", sans-serif;
	font-weight: 300;
	color: var(--white);
	background-color: var(--primary);
}

/* header */
.header {
	text-align: center;
	margin: 3em auto;
	color: var(--white);
}

#title {
	font-size: 3rem;
	margin-bottom: 0.3rem;
	letter-spacing: 0.4em;
	font-weight: 500;
	color: var(--accent);
}

#description {
	font-size: 1.2rem;
	font-weight: 400;
}

/* form */

.label {
	display: block;
	margin-bottom: 12px;
	font-weight: 400;
}

.input {
	display: block;
}

.form-group {
	margin: 30px 0px;
}

.text-input {
	color: var(--white);
	background: transparent;
	border: none;
	border-bottom: solid 3px var(--white);
	width: 100%;
	padding-left: 8px;
	padding-bottom: 2px;
	font-size: 0.9em;
}

.text-input:focus {
	border-color: var(--accent);
	transition: ease 0.3s;
}

.dropdown {
	width: 100%;
	padding: 8px;
	color: var(--white);
	border: solid 3px var(--white);
	background: transparent;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background-image: url("data:image/svg+xml;utf8,<svg fill='white' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
	background-repeat: no-repeat;
	background-position-x: 100%;
	background-position-y: 50%;
}

#survey-form {
	max-width: 750px;
	margin: auto;
	padding: 1rem;
}

#submit {
	display: block;
	margin: auto;
	padding: 10px 20px;
	font-size: 1em;
	width: 100%;
	color: var(--accent);
	border: solid 3px var(--accent);
	background: transparent;
	cursor: pointer;
	margin-bottom: 2.5em;
}

#submit:hover {
	background-color: var(--accent);
	color: var(--primary);
	transition: ease 0.3s;
}

#number {
	width: 60px;
	padding-left: 0;
	text-align: center;
	letter-spacing: 2px;
}

#suggestions {
	color: var(--white);
	width: 100%;
	border: solid 3px var(--white);
	background: transparent;
	padding: 5px;
	resize: none;
}

.radio-check {
	margin-bottom: 13px;
}

.radio-check > label {
	margin-left: 7px;
}

.dropdown option {
	color: black;
}

.text-input,
.dropdown,
#suggestions {
	font-family: "Rubik", sans-serif;
	font-weight: 300;
	outline: none;
}

/*remove arrows number input*/
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/*change placeholder color and opacity*/
/* Chrome */
::-webkit-input-placeholder {
	color: var(--white);
}
/* IE 10+ */
:-ms-input-placeholder { 
	color: var(--white);
}
/* Firefox 19+ */
::-moz-placeholder { 
	color: var(--white);
	opacity: 1;
}
/* Firefox 4 - 18 */
:-moz-placeholder { 
	color: var(--white);
	opacity: 1;
}